body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 154, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Home Page*/
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  width: 80%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.result_container {
  width: 80%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-inline-start: 0px;
}

li {
  background-color: rgb(222, 211, 211, 0.4);
  list-style: none;
  padding: 0.5rem;
  margin: 10px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

li:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.Button {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

button {
  width: 210px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(236, 28, 28);
  color: white;
  border: none;
  margin-bottom: 30px;
}

h2 {
  width: 80%;
}
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}
.active {
  border: 2px solid rgb(21, 104, 58);
}

.result_score {
  border-radius: 10px;
  margin: 10px 0;
  width: 200px;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.result_score:hover {
  box-shadow: none;
}
.left_divide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.results_divide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
}
.green {
  background-color: rgba(162, 235, 162, 0.85);
}
.red {
  background-color: rgba(224, 73, 46, 0.85);
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*Correct Score */
.progress-indicator {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: -50px;
  background-color: aliceblue;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
}

/*Result Score*/
.score-doughnut-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: visible;
}

.chart-content {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}
svg {
  overflow-x: visible;
}
.chart-score {
  font-size: 20px;
  font-weight: bold;
}

.chart-label {
  font-size: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .results_divide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container {
    width: 90%;
    margin-top: 40px;
  }

  .result_container {
    overflow-x: hidden;
  }
  .result_section {
    overflow-x: hidden;
  }
  .score-doughnut-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    width: 95%;
    margin-top: 20px;
  }
  h2 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
}
